/* Global Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #787fd0;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    overflow: hidden;
}

/* Navbar Styles */
.navbar {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    padding: 15px 0;
}

.navbar-brand {
    font-size: 1.8em;
    font-weight: bold;
    color: #333;
    text-decoration: none;
}

.navbar-nav {
    margin-left: auto;
}

.nav-link {
    color: #333;
    margin-right: 15px;
}

/* Hero Section Styles */
.hero {
    background-color: #007bff;
    color: #fff;
    padding: 100px 0;
}

.hero h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2em;
}

/* Button Styles */
button {
    display: inline-block;
    padding: 10px 20px;

    background-color: rgb(2, 3, 33);
   
    color: #fff;
   
    text-decoration: none;

    border: none;
 
    cursor: pointer;
    
    border-radius: 5px;
 
    transition: background-color 0.3s;
}

button:hover {
    background-color: rgb(238, 179, 179);
}

/* Table Styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color:  #70daa9;
    color: #fff;
}

/* Form Styles */
form {
    margin-top: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    border-radius: 5px;
    border: 1px solid #ddd;
}

